<div id="links">

  <a mat-button class="link-button" href="https://github.com/willtyler98">
    <img class="link-content" src="../../assets/github.jpg">
  </a>
  <a mat-button class="link-button" href="mailto:will.tyler11@gmail.com">
    <mat-icon class="link-content">email</mat-icon>
  </a>
  <a mat-button class="link-button" routerLink="/resume">
    <mat-icon class="link-content">notes</mat-icon>
  </a>
  <a mat-button class="link-button" routerLink="/about">
    <mat-icon class="link-content">person</mat-icon>
  </a>

</div>
