<div id="links">

  &nbsp;
  <a class="link-button" title="GitHub" href="https://github.com/willtyler98">
    <mat-icon class="link-content" svgIcon="github"></mat-icon>
  </a>
  &nbsp;
  <!--
  You see that extraneous, awkward, hideous space there in the title attribute?

  Welcome to the horror that is web development.

  That space is there because if that space wasn't there, the link just won't show up. It just won't. The link will be gone.

  The web was being developed at a time when we were pioneering programming languages. We certainly already had variables, conditionals, decisions, and the rest of the basics that even C has. But with HTML, we threw that all out the window! We designed a system to use static text files to display our web content.

  And it didn't stop there. As soon as it was realized that HTML was terrible, somebody thought, "In order to fix this, we need to build on top of this...".

  ...

  132 web frameworks later...

  ...

  AngularJS...

  ...

  Now we're here in Angular CLI 6, and we sort of have for loops with ngFor but still. If you're out here thinking, "You know, I don't think this is too bad. I don't know what the fuss is about.", then please try coding in Swift or something. Don't use Storyboards or XML because that's just HTML for mobile.
  Anyways, yeah please understand why I have that ugly space in the title attribute.
  -->
  <a class="link-button" title="LinkedIn " href="https://www.linkedin.com/in/will-tyler-77699716a/" target="_blank">
    <mat-icon class="link-content" svgIcon="linked"></mat-icon>
  </a>
  &nbsp;
  <a id="email" class="link-button" title="Send Email" href="mailto:will.tyler11@gmail.com">
    <mat-icon class="link-content">email</mat-icon>
  </a>
  &nbsp;
  <a id="resume" class="link-button" title="Resume" routerLink="/resume">
    <mat-icon class="link-content">notes</mat-icon>
  </a>
  &nbsp;
  <a id="about" class="link-button" title="About Will Tyler" routerLink="/about">
    <mat-icon class="link-content">person</mat-icon>
  </a>
  &nbsp;

</div>
