<app-home></app-home>
<div id="main-container">
  <div class="headers">
    <h1>
      About Me
    </h1>
    <img class="image" src="../../assets/Siblings.jpg">
    <h2>
      Personal Background
    </h2>
  </div>
  <p>
    I was born and raised in Zionsville, Indiana, a nice, suburban town about a half-hour North-West of Indianapolis. In my free time, I enjoy working on software projects, exercising, fishing, card and board games, reading (fan of The Economist), playing the piano, and spending time with my friends.
  </p>
  <div class="headers">
    <h2>
      Computer Science Background
    </h2>
  </div>
  <p>
    For as long as I can remember, I was always fascinated by computers and technology in general. As a young child, I figured out how to change the user's profile picture, and I remember feeling like a 'hacker'. I would get the same feeling later on in middle school when I figured out how to change my laptop's screen-saver (the middle school blocked editing settings on rental laptops), and figuring out how to change what my grades showed by clicking 'Inspect Element' in Firefox, and playing around with the HTML.
  </p>
  <p>
    I first got into programming during the summer before my senior year of high school, when I found <a href="https://www.codecademy.com/">Codecademy</a>, a website that helps people learn simple programming concepts in a variety of different languages for free. I started out with the JavaScript course, and at the end, I made my own rock, paper, scissors game. By taking the Codecademy courses, I learned that writing software has more to do with problem solving and abstract thinking than I had previously imagined. Using creativity to approach a problem and come up with a solution is a very rewarding experience for me, and that’s what makes me passionate about computer science.
  </p>
  <div class="headers">
    <h2>Summer 2018</h2>
  </div>
</div>
