#main-container {
  z-index: 3;
}

p {
  color: white;
  text-indent: 16px;
}

.headers {
  background-color: black;
  text-align: center;
}

.image {
  float: left;
  width: 30vw;
  margin: 12px;
  border-radius: 12px;
}
