@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  background-color: black;
  font-family: Calibri, sans-serif;
}

h1, h2, h3, a, p {
  color: white;
  user-select: none;
}

mat-icon {
  color: rgba(0, 0, 0, 0.87);;
}
